.label {
  width: inherit;
  height: 64px;
  margin: 0 0 13px;
  display: flex;
  flex-direction: column;
}

.label__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
  margin: 0;
}

.label__input {
  width: inherit;
  border: none;
  border-bottom: 1px solid rgba(00, 00, 00, .2);
  padding: 9px 0 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.label__input:focus {
  outline: none;
  border-color: rgba(00, 00, 00, 1);
}

.label__input::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(00, 00, 00, .2);
}

.label__message {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin: 3px 0 0;
}
