.footer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "copyright links";
}

.footer__copyright {
  color: #B6BCBF;
  grid-area: copyright;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer__nav {
  grid-area: links;
  display: flex;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer__list_type_links {
  margin-right: 16px;
}

.footer__item {

}

.footer__link {
  color: #000;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0 12px;
  transition: .2s ease;
}

.footer__link:hover, .footer__link:focus {
  color: #347EFF;
}

.footer__link:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .footer {
    grid-template-areas: "links"
                          "copyright";
  }

  .footer__nav {
    justify-content: space-between;
    margin: 24px 0;
  }

  .footer__list_type_links {
    flex-direction: column;
  }

  .footer__item {
    margin: 12px 0;
  }
}
