.icon {
  width: 40px;
  height: 40px;
}

.icon_type_big {
  width: 40px;
  height: 40px;
}

.icon_type_small {
  width: 24px;
  height: 24px;
}

.icon_style_secondary {

}

.icon_style_secondary:hover {

}

.icon_style_primary {
  /* transform: scale(1.5); */
}

.icon_style_secondary {

}
